<h1 id="hero-name-display">HERO NAME</h1>
<div id="hero-info-container">
    <div id="hero-infos">
        <div id="personnal-infos-display">
            <h3>Informations</h3>
            <p>Alias :</p>
            <p>Full name :</p>
            <p>Gender :</p>
            <p>Race :</p>
        </div>
        <div id="stats-display">
            <h3>Statistics</h3>
            <p>Strength :</p>
            <p>Intelligence :</p>
            <p>Speed :</p>
            <p>Durability :</p>
            <p>Power :</p>
            <p>Combat :</p>
        </div>
    </div>
    <img id="displayed-hero-image" src="https://www.superherodb.com/pictures2/portraits/10/100/10060.jpg" alt="hero_photo">
</div>
